.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

.autocomplete-list-container {
  position: absolute;
  top: calc(100% + 2px);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 999;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
}

.citySearchList {
  padding: 0;
}

.search-input {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.tempSwitch {
  margin-left: auto;
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.weather-details {
  margin-top: 60px;
  justify-content: center;
  margin-bottom: 40px;
}
.weatherText {
  font-size: 50px;
  font-weight: 600;
}

.nextDays {
  width: 100%;
}

.nextDays-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: calc(20% - 10px);
  margin-bottom: 20px;
  text-align: center;
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 10px;
}

.sunny .icon {
  color: #ffd700;
}

.moon .icon {
  color: #4682b4;
}

.MuiFormControlLabel-label {
  font-size: 0.875rem;
}

.favBtn {
  background-color: #0f2255;
  color: white;
}
